@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 216 24% 8%;
  --foreground: 210 40% 96%;
  --border: 215 20% 22%;
  --card: 215 22% 12%;
  --card-foreground: 210 40% 96%;
  --primary: 199 89% 48%;
  --primary-foreground: 210 40% 98%;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
